<div class="jumbotron" *ngIf="employeeData">
    <h2 class="text-center">Employee Data </h2>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Sr. No</th>
                <th>Name</th>
                <th>Salary</th>
                <th>Age</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let employee of employeeData">
                <td>{{ employee.id }}</td>
                <td>{{ employee.employee_name }}</td>
                <td>{{ employee.employee_salary }}</td>
                <td>{{ employee.employee_age }}</td>
            </tr>
        </tbody>
    </table>
</div>
