<div class="container-fluid">
    <div class="alert alert-info">
        <h2 class="text-center">Contact Us</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Autem at provident natus doloremque, aliquam
            placeat maxime. Unde dolore quas beatae itaque corporis quo, commodi voluptate maxime accusamus officia
            cupiditate ipsum deleniti numquam doloremque tenetur repudiandae animi? Libero maxime fugiat voluptate illo
            iste laboriosam dolores ex ratione maiores eveniet molestias nesciunt, perspiciatis in. Id ducimus possimus
            illum fugiat nesciunt dolorum quam quaerat repudiandae praesentium atque? Corrupti, cum! Debitis, sit unde.
            Molestias tempore quisquam eius ad debitis fugiat sequi corporis recusandae! Id hic ad atque quam nostrum
            inventore dolores temporibus blanditiis aperiam exercitationem, eaque odio recusandae quae doloribus facilis
            ratione officia suscipit.</p>
    </div>
</div>