<div class="container-fluid">

    <div class="alert alert-primary">
        <h2>Home Page</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum repudiandae, molestias commodi at nam
            consequuntur eos fuga laudantium incidunt eius necessitatibus dolores magnam nemo qui corporis placeat.
            Facilis quasi optio dignissimos quos laboriosam quibusdam vero ipsa nostrum omnis? Vero sit deserunt libero
            ratione dicta, distinctio ullam eos exercitationem animi tempora.</p>
    </div>
    <div class="jumbotron">
        <h2>Lorem Ipsum</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorem quidem maiores adipisci ad inventore, hic
            excepturi expedita cumque earum consequatur iste rerum ipsa, nemo atque quam recusandae ratione soluta ullam
            quasi? Quae, obcaecati excepturi omnis similique atque neque maxime ex dolore, alias perferendis natus
            temporibus vel eum, repudiandae odit? Ipsum, perferendis a. Quis mollitia necessitatibus, deleniti dolor
            debitis illo minus reprehenderit ut repellendus, distinctio corporis excepturi error eveniet eos facere
            quibusdam voluptate provident modi nemo nam. Tempore odio, laborum sunt, perferendis dicta id ipsum
            voluptatem cum necessitatibus, at enim. Iste praesentium sed cumque nihil optio alias labore culpa ex
            repellat!
        </p>
    </div>
</div>